    <!-- ======= About Section ======= -->
    <section id="about" style="background: url("../img/about-bg.jpg");">
        <div class="container position-relative" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6">
              <h2>About The Event</h2>
              <p>Hackers on the Hill is a semi-regular gathering for irregulars from the security research community to engage with Congressional staffers. Since 2017 the event has brought cybersecurity experts together with policymakers to discuss timely and relevant topics - no agendas, no talking points, just open and honest discussions with technical experts about policy implications. 
                <p>Over the past six years, we have connected hundreds of cybersecurity researchers with dozens of Congressional offices, on topics such as artificial intelligence, critical infrastructure, privacy, encryption, operational collaboration, ransomware, nation-state adversaries, election security, coordinated vulnerability disclosure, and disinformation. These conversations have led to long-term relationships between staffers and participants, as well as follow up conversations, member briefings, letters, and legislative language.</p>
                <p>The annual event is run by the all-volunteer I Am The Cavalry initiative - a group of dedicated individuals from the cybersecurity researcher community. Our goal with this event is to provide you with key resources for cybersecurity knowledge, broker connections to the wide-ranging expertise of the cybersecurity research community, and improve understanding among policymakers and the technical community.</p>
              </div>
            <div class="col-lg-3">
              <h3>Where</h3>
              <p>US Capitol Building<br>(room TBD)<br>Washington, DC</p>
            </div>
            <div class="col-lg-3">
              <h3>When</h3>
              <p>Thursday<br>January 11<br>2024</p>
            </div>
          </div>
        </div>
      </section><!-- End About Section -->