    <!-- ======= About Section ======= -->
    <section id="about">
        <div class="container position-relative" data-aos="fade-up">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-lg-center">
              <h2>About The Event</h2>
              <p>Hackers on the Hill is a semi-regular gathering for irregulars from the security research community to engage with Congressional staffers, since 2017.</p>
              <p>The event connects cybersecurity experts with policymakers to discuss timely and relevant topics - no agendas, no talking points, just open and honest discussions.</p>
              <p>We have built long-term relationships between dozens of staffers and hundreds of participants, as well as follow up conversations, member briefings, letters, and legislative language on topics such as:</p>
              <div class="row justify-content-center text-center">
                <i class="fa-solid fa-microchip-ai fa-2x col-2">Artificial Intelligence</i>
                <i class="fa-solid fa-industry fa-2x col-2">Critical Infrastructure</i>
                <i class="fa-solid fa-user-lock fa-2x col-2">Encryption</i>
                <i class="fa-solid fa-mask fa-2x col-2">Privacy</i>
                <i class="fa-solid fa-sack-dollar fa-2x col-2">Ransomware</i>
                <i class="fa-solid fa-earth-asia fa-2x col-2">Global Adversaries</i>
                <i class="fa-solid fa-person-booth fa-2x col-2">Election Security</i>
                <i class="fa-solid fa-bullhorn fa-2x col-2">Misinformation</i>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End About Section -->