    <!-- ======= About Section ======= -->
    <section id="about" style="background: url("../img/about-bg.jpg");">
        <div class="container position-relative" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6">
              <h2>About The Event</h2>
              <p>Hackers on the Hill is a semi-regular gathering for irregulars from the security research community to engage with Congressional staffers. Run by I Am The Cavalry, the program has been bridging the gap between the hacker and public policy communities since 2017.</p>
            </div>
            <div class="col-lg-3">
              <h3>Where</h3>
              <p>US Capitol Building<br>(room TBD)<br>Washington, DC</p>
            </div>
            <div class="col-lg-3">
              <h3>When</h3>
              <p>Thursday<br>January 11<br>2024</p>
            </div>
          </div>
        </div>
      </section><!-- End About Section -->