<!-- AddEvent Settings -->
<script type="text/javascript">
window.addeventasync = function(){
    addeventatc.settings({
        appleical  : {show:true, text:"Apple Calendar"},
        google     : {show:true, text:"Google <em>(online)</em>"},
        outlook    : {show:true, text:"Outlook"},
        outlookcom : {show:true, text:"Outlook.com <em>(online)</em>"},
        yahoo      : {show:true, text:"Yahoo <em>(online)</em>"}
    });
};
</script>

<div title="Add to Calendar" class="addeventatc">
    Add to Calendar
    <span class="start">{{ site.data.event.start_datetime | date: "%Y-%m-%d %H:%M:%S" }}</span>
    <span class="end">{{ site.data.event.end_datetime | date: "%Y-%m-%d %H:%M:%S" }}</span>
    <span class="timezone">{{ site.data.event.timezone }}</span>
    <span class="title">{{ site.data.title }}</span>
    <span class="description">{{ site.data.event.description }}
    {%- for agenda in site.data.agenda -%}
    \n{{agenda.start_time}}-{{agenda.end_time}} {{agenda.description}}
    {%- endfor -%}
    \n\n{{site.data.event.arrival_note}}
    </span>
    <span class="location">{{ site.data.map.location.address }}</span>
</div>
