<!-- ======= Schedule Section ======= -->
<section id="schedule">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center mb-4">
      <div class="col-12 col-md-10 text-center">
        <p class="mb-0">Times are TBD. The current plan is a plenary discussion followed by small-group office briefings.</p>
      </div>
    </div>

    <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">
      <div class="row schedule-item">
        <div class="col-3 col-md-4 row">
          <div class="col-12 col-md-6"><time>TBD</time></div>
        </div>
        <div class="col-9 col-md-8">
          <h5>Arrival and security check</h5>
          <p>Entry details and timing will be shared once confirmed.</p>
        </div>
      </div>

      <div class="row schedule-item">
        <div class="col-3 col-md-4 row">
          <div class="col-12 col-md-6"><time>TBD</time></div>
          <div class="col-12 col-md-6">
            <div class="speaker speaker-placeholder" aria-hidden="true">
              <i class="fa-solid fa-user"></i>
            </div>
          </div>
        </div>
        <div class="col-9 col-md-8">
          <h5>Plenary discussion <span>Old State Library</span></h5>
          <p>Opening plenary conversation for all attendees.</p>
        </div>
      </div>

      <div class="row schedule-item">
        <div class="col-3 col-md-4 row">
          <div class="col-12 col-md-6"><time>TBD</time></div>
          <div class="col-12 col-md-6">
            <div class="speaker speaker-placeholder" aria-hidden="true">
              <i class="fa-solid fa-user"></i>
            </div>
          </div>
        </div>
        <div class="col-9 col-md-8">
          <h5>Office briefings in small groups</h5>
          <p>We will break into groups for office briefings around the Capitol.</p>
        </div>
      </div>

      <div class="row schedule-item">
        <div class="col-3 col-md-4 row">
          <div class="col-12 col-md-6"><time>TBD</time></div>
        </div>
        <div class="col-9 col-md-8">
          <h5>Happy hour afterward</h5>
          <p>Time and location TBD.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Schedule Section -->
