<!-- ======= Location Section ======= -->
<section id="location">
  <div class="row g-4">
    <div class="col-xl-7 col-xxl-8 location-map">
      <iframe src="https://www.google.com/maps?q=Colorado%20State%20Capitol%2C%20Denver%2C%20CO&output=embed" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" alt="Google map of the Colorado State Capitol"></iframe>
    </div>

    <div class="col-xl-5 col-xxl-4 location-info">
      <div class="row justify-content-center">
        <div class="col-11 position-relative px-3 align-self-center text-center text-xl-start">
          <h5>Colorado State Capitol, Old State Library (<a href="https://www.google.com/maps?q=Colorado%20State%20Capitol%2C%20Denver%2C%20CO" target="_blank" rel="noopener">Directions</a>)</h5>
          <p>200 E Colfax Ave, Denver, CO 80203</p>
          <p>Plenary discussion meets in the Old State Library. Entry details will be shared closer to the event.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Location Section -->
