<!-- =======  F.A.Q. Section ======= -->
<section id="faq">

    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>FAQ</h2>
      </div>

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <div class="col-md-10 col-lg-9 col-xl-8">

          <ul class="faq-list">

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq_whos_in_charge" id="faq_whos_in_charge">Who's in charge here?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq_whos_in_charge" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Hackers on the Hill is run by the all-volunteer <a href="https://iamthecavalry.org" target="_blank">I Am The Cavalry</a> initiative - a group of dedicated individuals from the cybersecurity researcher community. Our goal with this event is to provide you with key resources for cybersecurity knowledge, broker connections to the wide-ranging expertise of the cybersecurity research community, and improve understanding among policymakers and the technical community.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq_when_will_it_start" id="faq_when_will_it_start">When will the event start?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq_when_will_it_start" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Check the <a href="#logistics">Logistics</a> section above for the schedule.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq_happy_hour" id="faq_happy_hour">Will there be a happy hour again?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq_happy_hour" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Happy hour? Us? ;) Yes, it's on. Check the <a href="#logistics">Logistics</a> section above for the schedule.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq_whats_it_like" id="faq_whats_it_like">What's the event like, do you have a video or write up of last year, or any prep material? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq_whats_it_like" class="collapse" data-bs-parent=".faq-list">
                <p>
                  <ul>
                    <li>Watch the plenary sessions from 2022 and 2023 on our <a href="https://www.youtube.com/@hackersonthehill" target="_blank">Hackers on the Hill YouTube channel</a>. (don't forget to smash like and subscribe)</li>
                    <li>Review the <a href="https://www.rapid7.com/globalassets/_pdfs/policy/an-unofficial-guide-to-meeting-with-congressional-offices---jan.-14-2020.pdf" target="_blank">Guide to Meeting With Congressional Offices</a> (pdf link) prepared by Harley Geiger.</li>
                    <li>Read our <a href="https://iamthecavalry.org/2023/02/10/i-am-the-cavalry-hosts-sixth-annual-hackers-on-the-hill-and-white-house-event/" target="_blank">Overview of Hackers on the Hill 2023</a>, on the I Am The Cavalry blog.</li>
                    <li>Take a walk down memory lane with our sites from <a href="2020.hackersonthehill.org" target="_blank">2020</a>, <a href="2022.hackersonthehill.org" target="_blank">2022</a>, and <a href="2023.hackersonthehill.org" target="_blank">2023</a>.</li>
                  </ul> 
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq_what_to_bring" id="faq_what_to_bring">What should I bring? What should I wear?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq_what_to_bring" class="collapse" data-bs-parent=".faq-list">
                <p>Bring a notepad and a pen to take notes - there might not be much space for your laptop, the wireless signal isn't great (though they may have guest wifi), and it may slow down the security check.</p>
                <p>Feel free to wear what you're comfortable in, given the context. For some people that might mean a suit and tie. For others, it might mean a soft hoodie. I think we've even had kilts in the group before. And consider dressing in layers - it can be freezing outside and hot inside, like a microwave burrito. But, maybe, like leave your rollerblades and T-Rex inflatables at home.</p>
                <p>If you have any questions, check the <a href="https://www.visitthecapitol.gov/visit/know-before-you-go/prohibited-items" target="_blank">Capitol Visitor Center prohitibed items list</a>.</p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq_parking" id="faq_parking">Where can I park near the event?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq_parking" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Parking near the Capitol tends to be extremely limited, and available spots can be a bit of a hike. Check out the <a href="https://www.visitthecapitol.gov/visit/directions-and-hours/getting-to-the-capitol">US Capitol Visitor Center site</a> for more. 
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq_photos" id="faq_photos">What is the photo/video policy? Can I live blog the plenary?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq_photos" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Thanks for checking first! Everybody loves photos. Except when they don't. And some of them won't. So ask first and try to avoid crowd shots. As far as blogging (tweeting/Xing, tooting, skeeting, whatever), we will announce the ground rules at the event - the plenary is likely to be on the record, the briefings are off the record.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq_hotels" id="faq_hotels">Where should I stay nearby - any hotels you recommend?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq_hotels" class="collapse" data-bs-parent=".faq-list">
                <p>
                  There are several hotels nearby the Capitol. We don't have any recommendations, as we haven't tried any of them out. 
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq_techcongress" id="faq_techcongress">This is great! Like Depeche Mode, I just can't get enough. What else is there?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq_techcongress" class="collapse" data-bs-parent=".faq-list">
                <p>Glad you like it! You can check out more from us at the <a href="https://iamthecavalry.org">I Am The Cavalry website</a> and Twitter (<a href="https://twitter.com/iamthecavalry" target="_blank">@iamthecavalry</a>). And the same group that runs this puts on <a href="https://defcon.org/policy">Policy @ DEF CON</a>, so you should check that out too - we're always looking for good CFP submissions!
                <p>You still want more? Alright, well we're big fans of <a href="https://www.techcongress.io/" target="_blank">TechCongress</a>, a great program that places technologists in Congressional offices for a year.</p>
                <p>And the <a href="https://aspentechpolicyhub.org" target="_blank">Aspen Tech Policy Hub</a> is a 6-month fellowship in San Francisco that trains technologists to become policy entrepreneurs.</p>
                <p>(<em>Subquestion: What is a <a href="https://www.youtube.com/watch?v=pwI5M-YgcwE">Depeche Mode</a> - is that like Dark Mode?</em> Well, kind of, but not in this case.)</p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq_can_i_come" id="faq_can_i_come">My friend didn't register, can I bring them along anyway?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq_can_i_come" class="collapse" data-bs-parent=".faq-list">
                <p>Unfortunately not. The event is full (we may even be over capacity), and the Capitol doesn't want this to be a nightclub scene with like bouncers and stuff.</p>
                <p>And if you're thinking about trying to social engineer your way in anyway, know that the Capitol requires pre-registration and ID checks so try to avoid committing felonies at the event. ;)</p>
                <p>We'll send out an email update if anything changes.</p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq_white_house" id="faq_white_house">Will we be doing the White House this year too?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq_white_house" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Unfortunately not this year. For context, in 2023, the White House invited a select number of hackers for an afternoon session to discuss several cybersecurity topics (and published an <a href="https://www.whitehouse.gov/oncd/briefing-room/2023/01/19/readout-of-office-of-the-national-cyber-director-meetings-with-cybersecurity-researchers/" target="_blank">official White House Readout on collaborating with cybersecurity researchers</a>!). 
                </p>
              </div>
            </li>

          </ul>
          
        </div>
      </div>

    </div>

  </section><!-- End  F.A.Q. Section -->