<!-- =======  F.A.Q Section ======= -->
<section id="faq">

    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>F.A.Q </h2>
        <h4 class="text-center" style="color: black;">More to come...</h4>
      </div>

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-9">

          <ul class="faq-list">

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Who's in charge here? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Hackers on the Hill is run by the all-volunteer <a href="https://iamthecavalry.org">I Am The Cavalry</a> initiative - a group of dedicated individuals from the cybersecurity researcher community. Our goal with this event is to provide you with key resources for cybersecurity knowledge, broker connections to the wide-ranging expertise of the cybersecurity research community, and improve understanding among policymakers and the technical community.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">When will the event start? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  An excellent question! We're still working out the details, and we intend to have a schedule posted here soon. In the meantime, please register for the event to receive updates as they become available.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Will there be a happy hour again? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Happy hour? Us? ;) Yes, we're planning something similar to the happy hour we had in prior years. We'll post details here and send an email update to those who have registered as they become available.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">What's the event like, do you have a video or write up of last year, or any prep material? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  <ul>
                    <li>Watch the plenary from 2023 on our <a href="https://www.youtube.com/@hackersonthehill">Hackers on the Hill YouTube channel</a>.</li>
                    <li>Review the <a href="https://www.rapid7.com/globalassets/_pdfs/policy/an-unofficial-guide-to-meeting-with-congressional-offices---jan.-14-2020.pdf">Guide to Meeting With Congressional Offices</a> prepared by Harley Geiger.</li>
                    <li>Read our <a href="https://iamthecavalry.org/2023/02/10/i-am-the-cavalry-hosts-sixth-annual-hackers-on-the-hill-and-white-house-event/">Overview of Hackers on the Hill 2023</a>, on the I Am The Cavalry blog.</li>
                  </ul> 
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Will we be doing the White House this year too? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Oh we hope so! In 2023, the White House invited a select number of hackers for an afternoon session to discuss several cybersecurity topics (and published an <a href="https://www.whitehouse.gov/oncd/briefing-room/2023/01/19/readout-of-office-of-the-national-cyber-director-meetings-with-cybersecurity-researchers/">official White House Readout on collaborating with cybersecurity researchers</a>!). We're hoping to repeat the trip again this year, though bear in mind that due to the very limited nature of the event (and the security precautions), this is an invite-only session. 
                </p>
              </div>
            </li>
<!--
            <li>
              <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                </p>
              </div>
            </li>
-->
          </ul>
          
        </div>
      </div>

    </div>

  </section><!-- End  F.A.Q Section -->