  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-lg-6 footer-info">
            <div class="row justify-content-center">
              <div class="col-3 col-lg-2 text-center"><img src="assets/img/logo.png" class="img-fluid" alt="Hackers on the Hill"></div>
              <div class="col-9 col-lg-10"><p>Hackers on the Hill 2024 takes place Thursday, January 11, at the US Capitol Visitor Center. We look forward to seeing you there!</p></div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 footer-contact">
            <h4 class="d-flex justify-content-center">Share with Others</h4>
            <div class="social-links d-flex justify-content-center">
              <a href="https://twitter.com/intent/tweet?url={{ site.url }}&amp;text=Join me at {{site.title}}! {{site.description}} {{page.start_datetime | date: "%A, %B %-d, %Y"}} at {{site.data.map.address}}. @{{site.social.twitter}}&hashtags={{ site.social.hashtag }}" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
              <a href="mailto:?subject=Join me at {{page.title}}?&amp;body=I'm going to {{page.title}} on {{ page.start_datetime | date: "%A, %B %-d, %Y" }}. Want to join me? {{ site.url }}" class="email"><i class="bi bi-envelope"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Hackers on the Hill</strong>. All Rights Reserved.
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
      -->
        Original design, <a href="https://bootstrapmade.com/theevent-conference-event-bootstrap-template/">TheEvent</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->