  <!-- ======= Footer ======= -->
  <footer id="footer" class="dark-bg">
    <div class="footer-top">
      <div class="container">
        <div class="row justify-content-center">

          <div class="row col-md-10 col-lg-9 col-xl-8 col-xxl-7 footer-info align-items-center">
            <div class="col-3 col-lg-2 text-center g-0 ps-2"><img src="assets/img/logo.png" class="img-fluid" alt="Hackers on the Hill"></div><div class="row col col-sm-9 justify-content-center align-items-center">
              
                
              <p class="col-sm-7 col-lg-6 my-0 px-2">Hackers on the Hill is a non-commercial event with a strict <em><b>no shilling</b></em> policy.</p>

              <div class="col-9 col-sm-5 footer-contact p-1">
                <div class="social-links d-flex justify-content-center align-items-center">
                  <a href="https://twitter.com/intent/tweet?url=https://hackersonthehill.org&amp;text=Join me at Hackers on the Hill! January 11, 2024. Sign up for more details or register for the event https://hackersonthehill.org" class="twitter" id="twitter" target="_blank"><i class="bi bi-twitter" alt="Post to Twitter"></i></a>
                  <a href="https://www.facebook.com/sharer/sharer.php?u=https://hackersonthehill.org" class="facebook" id="facebook" target="_blank"><i class="bi bi-facebook" alt="Post to Facebook"></i></a>
                  <a href="https://instagram.com" class="instagram" id="instagram" target="_blank"><i class="bi bi-instagram" alt="Post to Instagram"></i></a>
                  <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://hackersonthehill.org" class="linkedin" id="linkedin" target="_blank"><i class="bi bi-linkedin" alt="Post to LinkedIn"></i></a>
                  <a href="mailto:?subject=Join me at Hackers on the Hill?&amp;body=I'm going to Hackers on the Hhill on January 11, 2024. Want to join me? https://hackersonthehill.org" class="email" id="email" target="_blank"><i class="bi bi-envelope" alt="Send an email"></i></a>
                </div>
              </div>
                
            </div>

            <div class="container p-4 attribution">
              <p>© Copyright <strong>Hackers on the Hill</strong>. All Rights Reserved.</p>
              <p>
                <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
              -->
                Original design, <a href="https://bootstrapmade.com/theevent-conference-event-bootstrap-template/" target="_blank">TheEvent</a> by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
            </p>
            </div>

          </div>



        </div>
      </div>
    </div>


  </footer><!-- End  Footer -->