<!-- Page head -->
<div align="center" class="mb-5">
  <img src="images/banner.png">
  <h2 style="margin-top: 20px; margin-bottom: 0px; color: #FFC000; font-family: 'Montserrat', sans-serif;">{{site.data.event.subtitle}}</h2></div>
<div class="mb-5">
  <div class="row justify-content-md-center">
    <div class="col-md-auto col-sm-12  text-center mb-2 mt-2">
      <div style="margin-bottom: 10px; font-family: 'Montserrat', sans-serif; font-size: 1.2em">{{ site.data.event.start_datetime | date: "%A, %B %-d, %Y %-I:%M%P" }} - {{ site.data.event.end_datetime | date: "%-I:%M%P" }}</div>
      <div style="font-family: 'Montserrat', sans-serif;">{{site.data.map.location.address}}</div>
    </div>
    <div class="col-md-auto col-sm-12 text-md-left text-center mt-2 mb-2">{% include calendar.html %}</div>
  </div>
</div>
