<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hackers on the Hill | Connecting cybersecurity researchers with policymakers</title>
  <meta content="Hackers on the Hill | Where technical truth meets policy power" name="title" property="og:title">
  <meta content="Hackers on the Hill puts hackers and policymakers in the same room to talk about cyber policy. An all-volunteer initiative from I Am The Cavalry since 2017, now global." name="description" property="og:description">
  <meta content="Hackers on the Hill, cybersecurity, research, Congressional, I Am The Cavalry, hackers, cybersecurity research, cyber policy, internet of things, privacy, ransomware, vulnerability disclosure, encryption, artificial intelligence, critical infrastructure protection, supply chain security" name="keywords">
  <meta content="Hackers on the Hill" name="site_name" property="og:site_name">
  <meta content="https://hackersonthehill.com" name="url" property="og:url">
  <meta content="Hackers on the Hill" name="author">
  <meta content="Hackers on the Hill" name="publisher">
  <meta content="EN" name="language">
  <meta content="https://hackersonthehill.com/assets/img/hoth-card-222222.png" name="image" property="og:image">

  <!-- Favicons -->
<link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg">
<link rel="alternate icon" type="image/png" href="/assets/img/favicon.ico">

  <!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS File -->
  <link href="/assets/css/index_style.css" rel="stylesheet">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5SWT2G3G');</script>
  <!-- End Google Tag Manager -->

  <!-- Sender.net form loader -->
  <script>
    (function (s, e, n, d, er) {
      s['Sender'] = er;
      s[er] = s[er] || function () {
        (s[er].q = s[er].q || []).push(arguments)
      }, s[er].l = 1 * new Date();
      var a = e.createElement(n),
          m = e.getElementsByTagName(n)[0];
      a.async = 1;
      a.src = d;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
    sender('f75e4c2f284518')
  </script>

</head>
