<!--============================================
    HEADER
    Layout: Wide (col-lg-9)
============================================-->
<header id="header" class="d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9 d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <img src="/assets/img/hoth-us_lightmode.svg" alt="Hackers on the Hill">
        </a>
        {% include navbar.html %}
      </div>
    </div>
  </div>
</header><!-- End Header -->
