<!-- interest -->
<p>Hackers on the Hill is a semi-regular gathering for irregulars from the security research community to engage
    with Congressional staffers. Run by <u><a href="https://iatc.me">I Am The Cavalry</a></u>, the program
    has been bridging the gap between the hacker and public policy communities since 2017, and our sixth event was held
    on January 19, 2023.</p>

<h3>Hackers on the Hill <b>returns</b> on Thursday, January 11, 2024. Look for signups to open soon - and be among the first to know when that happens by joining the notification group through the form, below.</h3>

<div class="center">
    <div class="row justify-content-md-center">
        <div class="col-md-auto col-sm-12  text-center mb-2 mt-2">
            <iframe src="https://forms.gle/wVvbnPUfXBNSX3xw7" width="640" height="960" frameborder="0" marginheight="0"
                marginwidth="0">Loading…</iframe>
        </div>
    </div>
</div>