<!-- ======= Location Section ======= -->
<section id="location">
  <div class="section-header">
    <h2>Event Location</h2>
  </div>
      <div class="row g-4">
        <div class="col-xl-7 col-xxl-8 location-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.4937455729646!2d-77.01121532393545!3d38.8898230471508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b82921a2cf17%3A0x26d6253237a49baf!2sThe%20U.S.%20Capitol%20Visitor%20Center!5e0!3m2!1sen!2sus!4v1700264783960!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" alt="Google map of the event location"></iframe>
        </div>

        <div class="col-xl-5 col-xxl-4 location-info">
          <div class="row justify-content-center">
            <div class="col-11 position-relative px-3 align-self-center text-center text-xl-start">
              <h5>US Capitol Visitor's Center</h5>
              <h5>Washington, DC</h5>
              <p>Allow 15-20 minutes for airport-style security screening. A Hackers on the Hill guide will meet you inside and direct you to the meeting space.</p>
            </div>
          </div>
        </div>
      </div>
  </section><!-- End Location Section -->