<nav id="navbar" class="navbar mx-3 my-2">
  <ul class="">
    <li class="nav-item">
      <a class="nav-link" href="/uk">UK</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Archive
      </a>
      <ul class="dropdown-menu navbar-dropdown-hoth">
        <li><a class="dropdown-item" href="https://2024.hackersonthehill.org">DC 2024</a></li>
        <li><a class="dropdown-item" href="https://2023.hackersonthehill.org">DC 2023</a></li>
        <li><a class="dropdown-item" href="https://2022.hackersonthehill.org">DC 2022</a></li>
        <li><a class="dropdown-item" href="https://2020.hackersonthehill.org">DC 2020</a></li>
      </ul>
    </li>
  </ul>
</nav>