<!-- ======= Register Section ======= -->
<section id="register">
    <!-- Modal Registration Form -->
    <div id="register-modal" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content p-3">
          <div class="modal-header p-1">
            <h5 class="modal-title">Notification List Signup</h5>
            <button type="button" class="btn-close pe-3" data-bs-dismiss="modal" aria-label="Close" id="close-registration"></button>
          </div>

          <form class="row g-3 pt-1 px-1 modal-body" action="https://docs.google.com/forms/d/e/1FAIpQLSfNqvZThIW0I3PVfelz3LlOoEAgOOZJwiRyA2OxE1A7HLZ61A/formResponse" method="POST" target="null_frame">
            <p>Registration for Hackers on the Hill 2025 is now <b>closed</b>. We had significantly more interest than last year and hope to keep growing the event, so look for more to come!</p>
            <p>If you want to be among the first to know when new things are going on, join the notification list below!</p>
            <p>Note that Hackers on the Hill is a non-commercial event with a strict <b><em>no shilling</em></b> policy. It doesn't matter where you work or what your role is, we welcome all to a technically literate, good faith conversation.</p>
          
              <div class="card">
              <div class="row g-3 align-items-center p-2">
                <!-- First and last name -->
                <div class="col-md-6">
                  <label for="fullName">First and last name</label>
                  <input type="text" class="form-control form-control-sm" id="fullName" name="entry.629270356" required>
                </div>
          
                <!-- Email address -->
                <div class="col-md-6">
                  <label for="emailAddress">Email address</label>
                  <input type="email" class="form-control form-control-sm" id="emailAddress" name="entry.1927443135" required>
                </div>

                <!-- Invisible field with source of submission -->
                <div class="col-md-6">
                  <input type="text" class="form-control form-control-sm" id="hiddenField" value="Submitted through https://hackersonthehill.org" name="entry.1331357837" style="display: none;">
                </div>

              </div>
            </div>
          
              <div class="text-center p-2">
                <button class="button" type="submit" data-bs-toggle="modal" data-bs-target="#confirmation-modal" id="submit-registration">Get Notified</button>
              </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="confirmation-modal" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content p-3">
          <div class="modal-header p-1">
            <h5 class="modal-title">Wait List Confirmation</h5>
            <button type="button" class="btn-close pe-3" data-bs-dismiss="modal" aria-label="Close" id="close-confirmation"></button>
          </div>
          <h1>You're on the <b>notification list</b> for Hackers on the Hill, </h1>
          <p>We have added you to the <b>notification list</b> for <b>Hackers on the Hill<b>. You'll be among the first to find out when we're doing more events! 
          <p>Check your email for a confirmation message.</p>
          <p style="font-size: smaller;">--Hackers on the Hill Team</p>

          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



<iframe name="null_frame" style="display: none;"></iframe> <!-- This is a hack to prevent the form from redirecting to a new page -->

  </section><!-- End Register Section -->