<!-- ======= Register Section ======= -->
<section id="register">
    <!-- Modal Registration Form -->
    <div id="register-modal" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content p-3">
          <div class="modal-header p-1">
            <h5 class="modal-title">Registration Form</h5>
            <button type="button" class="btn-close pe-3" data-bs-dismiss="modal" aria-label="Close" id="close-registration"></button>
          </div>

          <form class="row g-3 pt-1 px-1 modal-body" action="https://docs.google.com/forms/d/e/1FAIpQLSdxRcsA1QYJmclJ7H38uHAdPAELrf5h9fEw2fHkM3ZBqaSwsA/formResponse" method="POST" target="null_frame">
            <p>Join us on Capitol Hill on Thursday, January 9th (the day before Shmoocon) to brief Congressional staffers on cybersecurity issues.</p>
            <p><b>Due to huge demand, new registrants will be added to the waitlist</b>. We anticipate accommodating everyone and will be in touch with more details for those who register in late December.</p>
            <p>Note that Hackers on the Hill is a non-commercial event with a strict <b><em>no shilling</em></b> policy. It doesn't matter where you work or what your role is, we welcome all to a technically literate, good faith conversation.</p>
          
              <div class="card">
              <div class="row g-3 align-items-center p-2">
                <!-- First and last name -->
                <div class="col-md-6">
                  <label for="fullName">First and last name</label>
                  <input type="text" class="form-control form-control-sm" id="fullName" name="entry.629270356" required>
                </div>
          
                <!-- Email address -->
                <div class="col-md-6">
                  <label for="emailAddress">Email address (for confirmation and coordination)</label>
                  <input type="email" class="form-control form-control-sm" id="emailAddress" name="entry.1927443135" required>
                </div>
              </div>
            </div>
          
            <!-- Available: Yes/Maybe/No -->
            <div class="card p-2">
              <label>Are you ready to cyber all the cybers?</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="availableYes" value="Yes - Vote me in" name="entry.63574353">
                <label class="form-check-label" for="availableYes">Yes - Vote me in</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="availableMaybe" value="Maybe - Back bench me" name="entry.63574353">
                <label class="form-check-label" for="availableMaybe">Maybe - Back bench me</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="availableNo" value="No - I just like forms" name="entry.63574353">
                <label class="form-check-label" for="availableNo">No - I just like forms</label>
              </div>
            </div>

            <div class="card p-2">
              <label for="entry.1142938991" class="form-label">List your background and experience - add more if you need. While the event is built around technical expertise, we can often accommodate others.</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="threatIntelligence" value="Threat Intelligence" name="entry.1142938991">
                <label class="form-check-label" for="threatIntelligence">Threat Intelligence</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="penetrationTesting" value="Penetration Testing" name="entry.1142938991">
                <label class="form-check-label" for="penetrationTesting">Penetration Testing</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="reverseEngineering" value="Reverse Engineering" name="entry.1142938991">
                <label class="form-check-label" for="reverseEngineering">Reverse Engineering</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="networkSecurity" value="Network Security" name="entry.1142938991">
                <label class="form-check-label" for="networkSecurity">Network Security</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="applicationSecurity" value="Application Security" name="entry.1142938991">
                <label class="form-check-label" for="applicationSecurity">Application Security</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="systemsAdministration" value="Systems Administration" name="entry.1142938991">
                <label class="form-check-label" for="systemsAdministration">Systems Administration</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="governanceRiskCompliance" value="Governance, Risk, and Compliance" name="entry.1142938991">
                <label class="form-check-label" for="governanceRiskCompliance">Governance, Risk, and Compliance</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="CIO.CISO.CSO" value="CIO/CISO/CSO" name="entry.1142938991">
                <label class="form-check-label" for="CIO.CISO.CSO">CIO/CISO/CSO</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="malwareAnalysis" value="Malware Analysis" name="entry.1142938991">
                <label class="form-check-label" for="malwareAnalysis">Malware Analysis</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cryptography" value="Cryptography" name="entry.1142938991">
                <label class="form-check-label" for="cryptography">Cryptography</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="securityOperations" value="Security Operations" name="entry.1142938991">
                <label class="form-check-label" for="securityOperations">Security Operations</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="incidentResponse" value="Incident Response" name="entry.1142938991">
                <label class="form-check-label" for="incidentResponse">Incident Response</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="forensics" value="Forensics" name="entry.1142938991">
                <label class="form-check-label" for="forensics">Forensics</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="technicalSupport" value="Technical Support" name="entry.1142938991">
                <label class="form-check-label" for="technicalSupport">Technical Support</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="trainingEducationAwareness" value="Training, Education, and Awareness" name="entry.1142938991">
                <label class="form-check-label" for="trainingEducationAwareness">Training, Education, and Awareness</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="vulnerabilityManagement" value="Vulnerability Management" name="entry.1142938991">
                <label class="form-check-label" for="vulnerabilityManagement">Vulnerability Management</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="softwareDevelopment" value="Software Development" name="entry.1142938991">
                <label class="form-check-label" for="softwareDevelopment">Software Development</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="nonTechnicalOnly" value="Non-Technical Only (we will follow up for more detail)" name="entry.1142938991">
                <label class="form-check-label" for="nonTechnicalOnly">Non-Technical Only (we will follow up for more detail)</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="otherExperience" value="__other_option__" name="entry.1142938991">
                <input type="text" class="form-control form-control-sm col-10" id="otherExperienceText" name="entry.1142938991.other_option_response" placeholder="Other relevant experience you bring">
              </div>
            </div>

            <!-- (Optional) Which cyber policy issues are you most interested in discussing (recommend selecting 2-4)? -->
            <div class="card p-2">
              <label for="entry.444910042" class="form-label">(Optional) Which cyber policy issues are you most interested in discussing (recommend selecting 2-4)?</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="hackingLaws" value="Hacking Laws (like DMCA/CFAA)" name="entry.444910042">
                <label class="form-check-label" for="hackingLaws">Hacking Laws (like DMCA/CFAA)</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="encryption" value="Encryption" name="entry.444910042">
                <label class="form-check-label" for="encryption">Encryption</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="vulnerabilityDisclosure" value="Coordinated Vulnerability Disclosure" name="entry.444910042">
                <label class="form-check-label" for="vulnerabilityDisclosure">Coordinated Vulnerability Disclosure</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="privacy" value="Privacy" name="entry.444910042">
                <label class="form-check-label" for="privacy">Privacy</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="surveillance" value="Surveillance (government and corporate)" name="entry.444910042">
                <label class="form-check-label" for="surveillance">Surveillance (government and corporate)</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="internetGovernance" value="Internet Governance" name="entry.444910042">
                <label class="form-check-label" for="internetGovernance">Internet Governance</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="breachNotificationLaws" value="Breach notification laws" name="entry.444910042">
                <label class="form-check-label" for="breachNotificationLaws">Breach notification laws</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="hackBack" value="Hack back" name="entry.444910042">
                <label class="form-check-label" for="hackBack">Hack back</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="criticalInfrastructure" value="Critical Infrastructure Protection" name="entry.444910042">
                <label class="form-check-label" for="criticalInfrastructure">Critical Infrastructure Protection</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="artificialIntelligence" value="Artificial Intelligence" name="entry.444910042">
                <label class="form-check-label" for="artificialIntelligence">Artificial Intelligence</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="electionSecurity" value="Election security" name="entry.444910042">
                <label class="form-check-label" for="electionSecurity">Election security</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cyberWar" value="Threshold of cyber war/military use of force" name="entry.444910042">
                <label class="form-check-label" for="cyberWar">Threshold of cyber war/military use of force</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="disinformation" value="Disinformation" name="entry.444910042">
                <label class="form-check-label" for="disinformation">Disinformation</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="rightToRepair" value="Right to repair" name="entry.444910042">
                <label class="form-check-label" for="rightToRepair">Right to repair</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="softwareBillOfMaterials" value="Software Bill of Materials" name="entry.444910042">
                <label class="form-check-label" for="softwareBillOfMaterials">Software Bill of Materials</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="intelligenceCommunity" value="Intelligence community" name="entry.444910042">
                <label class="form-check-label" for="intelligenceCommunity">Intelligence community</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="ransomware" value="Ransomware" name="entry.444910042">
                <label class="form-check-label" for="ransomware">Ransomware</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="healthcare" value="Healthcare" name="entry.444910042">
                <label class="form-check-label" for="healthcare">Healthcare</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="otherCyberPolicyIssue" value="__other_option__" name="entry.444910042">
                <input type="text" class="form-control form-control-sm" id="otherCyberPolicyIssueText" name="entry.444910042.other_option_response" placeholder="Other topics to discuss">
              </div>
            </div>

              <!-- (Optional) Congressional district -->
              <div class="card p-2">
                <label for="congressionalDistrict">Who is your member of Congress in the House of Representatives?</label>
                <input type="text" class="form-control" id="congressionalDistrict" name="entry.1773006064" placeholder="">
                <small name="emailHelp" class="form-text text-muted">Look up your Representative at <a href="https://www.house.gov/representatives/find-your-representative">https://www.house.gov/representatives/find-your-representative</a></small>
              </div>
          
              <!-- (Optional) Senate representative -->
              <div class="card p-2">
                <label for="senateRepresentatives">Who are your two Senators?</label>
                <input type="text" class="form-control" id="senateRepresentatives" name="entry.2061923963" placeholder="">
                <small name="emailHelp" class="form-text text-muted">Look up your Senators at <a href="https://www.senate.gov/senators/senators-contact.htm">https://www.senate.gov/senators/senators-contact.htm</a></small>
            </div>
          
              <!-- (Optional) Why are you interested in participating? -->
              <div class="card p-2">
                <label for="interestReason">Why are you interested in participating?</label>
                <textarea class="form-control" id="interestReason" name="entry.1428481397" rows="3"></textarea>
              </div>
          
              <!-- (Optional) How did you hear about the event? -->
              <div class="card p-2">
                <label for="eventDiscovery">How did you hear about the event?</label>
                <textarea class="form-control" id="eventDiscovery" name="entry.2035494315" rows="3"></textarea>
              </div>
          
              <!-- (Optional) What did we miss? -->
              <div class="card p-2">
                <label for="missedPoints">What did we miss?</label>
                <textarea class="form-control" id="missedPoints" name="entry.277758129" rows="3"></textarea>
              </div>
          
              <div class="text-center p-2">
                <button class="button" type="submit" data-bs-toggle="modal" data-bs-target="#confirmation-modal" id="submit-registration">Submit Registration</button>
              </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="confirmation-modal" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content p-3">
          <div class="modal-header p-1">
            <h5 class="modal-title">Wait List Confirmation</h5>
            <button type="button" class="btn-close pe-3" data-bs-dismiss="modal" aria-label="Close" id="close-confirmation"></button>
          </div>
          <!-- 
            <p>Congratulations! You're registered for Hackers on the Hill 2024. Check your email for a confirmation message with more details.</p>
            <p><b>NOTE</b> that this is a space-limited event, with attendance levels set by Congressional rules. In the event we exceed that capacity, we will put you on the waitlist and notify you about in person attendance.</p>
          -->

          <h1>You're on the <b>wait list</b> for Hackers on the Hill, </h1>
          <p>We have added you to the <b>wait list</b> for <b>Hackers on the Hill<b>, which will take place <b>January 9, 2025<b>. Check your email for a confirmation message.</p>
          <p>We anticipate being able to accommodate everyone who signs up, and will be in touch with more details in late December.</p>
          <p>Look for more details in late December, and feel free to message us with any questions or comments.</p>
          <p>We hope to see you!</p>
          <p style="font-size: smaller;">--Hackers on the Hill Team</p>

          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



<iframe name="null_frame" style="display: none;"></iframe> <!-- This is a hack to prevent the form from redirecting to a new page -->

  </section><!-- End Register Section -->