<!-- ======= Register Section ======= -->
<section id="register">
    <!-- Modal Registration Form -->
    <div id="register-modal" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content p-3">
          <div class="modal-header p-1">
            <h5 class="modal-title" style="color: #331e38;">Registration Form</h5>
            <button type="button" class="btn-close pe-3" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <form class="row g-3 pt-1 px-1 modal-body" action="https://docs.google.com/forms/d/e/1FAIpQLSdxRcsA1QYJmclJ7H38uHAdPAELrf5h9fEw2fHkM3ZBqaSwsA/formResponse" method="POST">
            <label>Join us on Capitol Hill on Thursday, January 11th (the day before Shmoocon) to brief Congressional staffers on cybersecurity issues.</label>
            <label>Note that Hackers on the Hill is a non-commercial event with a strict <b><em>no shilling</em></b> policy. It doesn't matter where you work or what your role is, we welcome all to a technically literate, good faith conversation.</label>
            
            <div class="card">
              <div class="row g-3 align-items-center p-2">
                <!-- First and last name -->
                <div class="col-md-6">
                  <input type="text" class="form-control form-control-sm" name="entry.629270356" placeholder="First and last name" required>
                </div>

                <!-- Email address -->
                <div class="col-md-6">
                  <input type="email" class="form-control form-control-sm" name="entry.1927443135" placeholder="Email address" required>
                </div>
              </div>
            </div>

            <!-- Available: Yes/Maybe/No -->
            <div class="card p-2">
              <label for="entry.63574353" class="form-label">Are you ready to cyber all the cybers?</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Yes - Vote me in" name="entry.63574353">
                <label class="form-check-label" for="entry.63574353">Yes - Vote me in</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Maybe - Back bench me" name="entry.63574353">
                <label class="form-check-label" for="entry.63574353">Maybe - Back bench me</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="No - I just like forms" name="entry.63574353">
                <label class="form-check-label" for="entry.63574353">No - I just like forms</label>
              </div>
            </div>

            <!-- Background and experience -->
            <div class="card p-2">
              <label for="entry.1142938991" class="form-label">List your background and experience - add moar if you need. While the event is built around technical expertise, we can often accomodate others.</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Threat Intelligence" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Threat Intelligence</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Penetration Testing" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Penetration Testing</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Reverse Engineering" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Reverse Engineering</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Network Security" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Network Security</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Application Security" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Application Security</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Systems Administration" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Systems Administration</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Governance, Risk, and Compliance" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Governance, Risk, and Compliance</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="CIO/CISO/CSO" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">CIO/CISO/CSO</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Malware Analysis" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Malware Analysis</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Cryptography" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Cryptography</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Security Operations" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Security Operations</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Incident Response" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Incident Response</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Forensics" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Forensics</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Technical Support" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Technical Support</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Training, Education, and Awareness" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Training, Education, and Awareness</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Vulnerability Management" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Vulnerability Management</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Software Development" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Software Development</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Non-Technical Only (we will follow up for more detail)" name="entry.1142938991">
                <label class="form-check-label" for="entry.1142938991">Non-Technical Only (we will follow up for more detail)</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="__other_option__" name="entry.1142938991">
                <input type="text" class="form-control form-control-sm" name="entry.1142938991.other_option_response" placeholder="Other relevant experience you bring">
              </div>
            </div>

            <!-- Cyber policy issues -->
            <div class="card p-2">
              <label for="entry.444910042" class="form-label">(Optional) Which cyber policy issues are you most interested in discussing (recommend selecting 2-4)?</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Hacking Laws (like DMCA/CFAA)" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Hacking Laws (like DMCA/CFAA)</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Encryption" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Encryption</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Coordinated Vulnerability Disclosure" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Coordinated Vulnerability Disclosure</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Privacy" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Privacy</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Surveillance (government and corporate)" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Surveillance (government and corporate)</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Internet Governance" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Internet Governance</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Breach notification laws" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Breach notification laws</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Hack back" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Hack back</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Critical Infrastructure Protection" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Critical Infrastructure Protection</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Artificial Intelligence" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Artificial Intelligence</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Election security" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Election security</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Threshold of cyber war/military use of force" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Threshold of cyber war/military use of force</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Disinformation" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Disinformation</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Right to repair" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Right to repair</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Software Bill of Materials" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Software Bill of Materials</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Intelligence community" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Intelligence community</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Ransomware" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Ransomware</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Healthcare" name="entry.444910042">
                <label class="form-check-label" for="entry.444910042">Healthcare</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="__other_option__" name="entry.444910042">
                <input type="text" class="form-control form-control-sm" name="entry.444910042.other_option_response" placeholder="Other topics to discuss">
              </div>
            </div>

            <!-- (Optional) Congressional district -->
            <div class="card p-2">
              <label for="entry. 1773006064" class="form-label">(Optional) Who is your member of Congress in the House of Representatives?</label>
              <input type="text" class="form-control" name="entry. 1773006064" placeholder="">
              <small name="emailHelp" class="form-text text-muted">Look up your Representative at <a href="https://www.house.gov/representatives/find-your-representative">https://www.house.gov/representatives/find-your-representative</a></small>
            </div>

            <!-- (Optional) Senate representative -->
            <div class="card p-2">
              <label for="entry. 2061923963" class="form-label">(Optional) Who are your two Senators?</label>
              <input type="text" class="form-control" name="entry. 2061923963" placeholder="">
              <small name="emailHelp" class="form-text text-muted">Look up your Senators at <a href="https://www.senate.gov/senators/senators-contact.htm">https://www.senate.gov/senators/senators-contact.htm</a></small>
            </div>

            <!-- (Optional) Why are you interested in participating? -->
            <div class="card p-2">
              <label for="entry.1428481397" class="form-label">(Optional) Why are you interested in participating?</label>
              <textarea class="form-control" name="entry.1428481397" rows="3"></textarea>
            </div>

            <!-- (Optional) How did you hear about the event? -->
            <div class="card p-2">
              <label for="entry.2035494315" class="form-label">(Optional) How did you hear about the event?</label>
              <textarea class="form-control" name="entry.2035494315" rows="3"></textarea>
            </div>

            <!-- (Optional) What did we miss? -->
            <div class="card p-2">
              <label for="entry.277758129" class="form-label">(Optional) What did we miss?</label>
              <textarea class="form-control" name="entry.277758129" rows="3"></textarea>
            </div>

            <div class="text-center p-2">
              <button class="button" type="submit">Submit Registration</button>
            </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </section><!-- End Register Section -->