<!-- ======= Schedule Section ======= -->
<section id="schedule">
    <div class="container" data-aos="fade-up">

      <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <div class="row schedule-item">
            <div class="col-3 col-md-4 row">
              <div class="col-12 col-md-6"><time>~1:30 PM</time></div>
              <div class="col-12 col-md-6">
              </div>
            </div>
            <div class="col-9 col-md-8">
              <h5>Arrival and Security Check</h5>
              <p>Clear security and sign in at the Senate Appointment Desk. Look for members of the Hackers on the Hill crew or head to room 209-08.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-3 col-md-4 row">
              <div class="col-12 col-md-6"><time>2:00 PM</time></div>
              <div class="col-12 col-md-6">
                <div class="speaker">
                  <img src="/assets/img/speakers/beauwoods_preferred.jpg" alt="Beau Woods">
                </div>
              </div>
            </div>
            <div class="col-9 col-md-8">
              <h5>Opening and Welcome <span>Beau Woods</span></h5>
              <p>If you arrive after this you're late and we will be taking attendance! (just kidding)</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-3 col-md-4 row">
              <div class="col-12 col-md-6"><time>2:10 PM</time></div>
              <div class="col-12 col-md-6">
                <div class="speaker">
                  <img src="/assets/img/speakers/harley.jpg" alt="Harley Geiger">
                </div>
              </div>
            </div>
            <div class="col-9 col-md-8">
              <h5>Cyber Policy Prophecies: Overview for Hill Hackers <span>Harley Geiger</span></h5>
              <p>What's going on in public policy that hackers will want to know about, from legislative to executive?</p>
            </div>  
          </div>

                    <div class="row schedule-item">
            <div class="col-3 col-md-4 row">
              <div class="col-12 col-md-6"><time>2:45 PM</time></div>
              <div class="col-12 col-md-6">
                <div class="speaker">
                  <img src="/assets/img/speakers/mcmurray.jpg" alt="Matt McMurray">
                </div>
                <div class="speaker">
                  <img src="/assets/img/speakers/jessica.jpg" alt="Jessica Wilkerson">
                </div>
              </div>
            </div>
            <div class="col-9 col-md-8">
              <h5>Day in the life of a Congressional Staffer: A fireside chat with <span>Matt McMurray</span> and <span>Jessica Wilkerson</span></h5>
              <p>Hear how a bill REALLY becomes a law, and what superpowers staffers weild to get stuff done.</p>
              <small>Matt is Chief of Staff for Rep. Robin Kelly. Jessica is a former congressional staffer, appearing in her personal capacity.</small>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-3 col-md-4 row">
              <div class="col-12 col-md-6"><time>3:30 PM</time></div>
              <div class="col-12 col-md-6">
                <div class="speaker">
                  <img src="/assets/img/speakers/beauwoods_hacker.2.jpg" alt="Beau Woods">
                </div>
              </div>
            </div>
            <div class="col-9 col-md-8">
              <h5>Plenary closing <span>Beau Woods</span></h5>
              <p>Wrapping up the plenary session then move to briefings and a special session, below.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-3 col-md-4 row">
              <div class="col-12 col-md-6"><time>3:45 PM</time></div>
              <div class="col-12 col-md-6">
                <div class="speaker">
                  <img src="/assets/img/speakers/leisel.jpg" alt="Leisel Bogan">
                </div>
              </div>
            </div>
            <div class="col-9 col-md-8">
              <h5>How to help: Tech Congress <span>Leisel Bogan</span></h5>
              <p>How hackers can become Congressional Staffers and take direct action to improve cyber policy.</p>
            </div>
          </div>
          
          <div class="row schedule-item">
            <div class="col-3 col-md-4 row">
              <div class="col-12 col-md-6"><time>4:00 PM</time></div>
              <div class="col-12 col-md-6">
                <div class="speaker">
                  <img src="/assets/img/speakers/leonard.webp" alt="Leonard Bailey">
                </div>
              </div>
            </div>
            <div class="col-9 col-md-8">
              <h5>Change without changing <span>Leonard Bailey</span></h5>
              <p>How has use of hacking and cybersecurity laws (like the CFAA and DMCA) evolved to encourage research.</p>
            </div>
          </div>
          
          <div class="row schedule-item">
            <div class="col-3 col-md-4 row">
              <div class="col-12 col-md-6"><time>4:15 PM</time></div>
              <div class="col-12 col-md-6">
                <div class="speaker">
                  <img src="/assets/img/speakers/leiserson.jpg" alt="Nick Leiserson">
                </div>
              </div>
            </div>
            <div class="col-9 col-md-8">
              <h5>Hackers on the Hill Closing <span>Nick Leiserson</span></h5>
              <p>From the House to the White House, and from DC to DEF CON, Nick has been a key part of Hackers on the Hill from the first.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-3 col-md-4 row">
              <div class="col-12 col-md-6"><time>5:00 PM</time></div>
            </div>
            <div class="col-9 col-md-8">
              <h5>Happy Hour: Hawk n Dove</h5>
              <p>Join us at <a href="https://www.hawkndovebardc.com/" target="_blank">Hawk N Dove</a> (<a href="https://maps.app.goo.gl/Tpzk9Pvjzj54G8kB7">a ten minute walk</a>) for the Hackers on the Hill happy hour.</p>
            </div>
          </div>

          <!-- Preserve one of these in full
          <div class="row schedule-item">
            <div class="col-md-2"><time>04:00 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/6.jpg" alt="Willow Trantow">
              </div>
              <h5>Quo qui praesentium nesciunt <span>Willow Trantow</span></h5>
              <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>
            </div>
          </div> -->

        </div> 

      </div>

    </div>

  </section><!-- End Schedule Section -->