<!-- ======= Schedule Section ======= -->
<section id="schedule">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Schedule</h2>
      </div>
      <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <div class="row schedule-item">
            <div class="col-md-2"><time>1:30 - 1:45 PM</time></div>
            <div class="col-md-10">
              <h4>Arrival and Security Check</h4>
              <p>Clear security and sign in at the Senate Appointment Desk. Look for members of the Hackers on the Hill crew or head to room 209-08.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>2:00 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/beauwoods_preferred.jpg" alt="Beau Woods">
              </div>
              <h4>Opening and Welcome <span>Beau Woods</span></h4>
              <p>If you arrive after this you're late and we will be taking attendance! (just kidding)</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>2:10 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/harley.jpg" alt="Harley Geiger">
              </div>
              <h4>Cyber Policy Overview & Prophecies <span>Harley Geiger</span></h4>
              <p>What's going on in public policy that hackers will want to know about, from legislative to executive?</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>2:40 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/mcmurray.jpg" alt="Matt McMurray">
              </div>
              <h4>Day in the life of a Congressional Staffer <span>Matt McMurray</span></h4>
              <p>Hear how a bill REALLY becomes a law, and what superpowers staffers weild to get stuff done.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>3:30 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/beauwoods_hacker.2.jpg" alt="Beau Woods">
              </div>
              <h4>Plenary closing <span>Beau Woods</span></h4>
              <p>Wrapping up the plenary session and find out what's in store for you NEXT!</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>3:45 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/leisel.jpg" alt="Leisel Bogan">
              </div>
              <h4>How to help: Tech Congress <span>Leisel Bogan</span></h4>
              <p>How hackers can become Congressional Staffers and take direction action to improve cyber policy.</p>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>4:00 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/special.jpg" alt="Special Guest">
              </div>
              <h4>Beyond congress: how CFAA/DMCA are changing <span>Special Guest</span></h4>
              <p>How laws hacking laws like CFAA and DMCA are executed, interpreted, and updated after they leave Congress.</p>
            </div>
          </div>

          <!-- Preserve one of these in full
          <div class="row schedule-item">
            <div class="col-md-2"><time>04:00 PM</time></div>
            <div class="col-md-10">
              <div class="speaker">
                <img src="assets/img/speakers/6.jpg" alt="Willow Trantow">
              </div>
              <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>
              <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>
            </div>
          </div> -->

        </div> 

      </div>

    </div>

  </section><!-- End Schedule Section -->