<!-- Sharing Links -->
<center>

</center>
<div class="container">
	<div class="d-flex mb-5 justify-content-md-center">
		<div class="col-md-auto"><h3>Invite others</h3></div>
    <div class="m-2 align-self-center"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}"><i class="fab fa-facebook fa-2x"></i></a></div>
    <div class="m-2 align-self-center"><a href="https://twitter.com/intent/tweet?url={{ site.url }}&amp;text=Join me at {{site.title}}! {{site.description}} {{page.start_datetime | date: "%A, %B %-d, %Y"}} at {{site.data.map.location.address}}. @{{site.social.twitter}}&hashtags={{ site.social.hashtag }}"><i class="fab fa-twitter fa-2x"></i></a></div>
    <div class="m-2 align-self-center"><a href="https://instagram.com"><i class="fab fa-instagram fa-2x"></i></a></a></div>
    <div class="m-2 align-self-center"><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}"><i class="fab fa-linkedin fa-2x"></i></a></div>
    <div class="m-2 align-self-center"><a href="mailto:?subject=Join me at {{page.title}}?&amp;body=I'm going to {{page.title}} on {{ page.start_datetime | date: "%A, %B %-d, %Y" }}. Want to join me? {{ site.url }}"><i class="fas fa-envelope fa-2x"></i></a></div>
  </div>
</div>
