html,
body {
	margin: 0;
	padding: 0;
}

html {
	background-color: #4c5269;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-width: 380px;
}

html,
textarea,
input {
	font-family: 'Abel', sans-serif;
}

body {
	max-width: 1024px;
	margin: 100px auto;
	color: #fff;
	min-height: 100vh;
	background-color: transparent;
}

a {
	color: #fffbeb;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	svg {
		fill: #fffbeb;
		position: relative;
		top: 6px;
		width: 20px;
	}
}
