<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center justify-content-center">
    <div class="container-fluid container-xxl col-md-10 col-lg-8 d-flex align-items-center justify-content-between mx-2 mx-lg-5">
   
      <button type="button" class="button mx-md-3 register d-none d-md-block" data-bs-toggle="modal" data-bs-target="#register-modal">Register</button>

      {% include navbar.html %}
      
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in" data-aos-delay="100">
      <div class="row justify-content-center align-items-center col-md-10 col-lg-8">
        <div class="col-8 col-sm-6 col-md-5"><img src="assets/img/logo.png" class="img-fluid" alt="" title="">
          <h6 class="mt-2" style="color: #fff;">Thursday, January 11, 2024</h6>
        </div>
         <div class="col-10 col-md-7 my-2">
          <h4 class="p-2" style="color:#fff;">Hackers on the Hill is a semi-regular gathering of irregulars from the cybersecurity research community engaging with Congressional staffers.</h4>
          <p>Run by <a href="https://iamthecavalry.org">I Am The Cavalry</a>, since 2017.</p>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    {% include about.html %}

    {% include schedule.html %}

    {% include location.html %}

    {% include faq.html %}

    {% include register.html %}

    {% comment %}
      {% include about.html %}
      {% include speakers.html %}
      {% include hotels.html %}
      {% include gallery.html %}
      {% include supporters.html %}
      {% include tickets.html %}
      {% include contact.html %}
      {% include subscribe.html %}
    {% endcomment %}

  </main><!-- End #main -->

  {% include footer.html %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>