<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container-fluid container-xxl d-flex align-items-center mx-2 mx-lg-5">

      <div id="logo" class="me-auto">
        <!-- Uncomment below depending on if you want to use text vs image logo -->
        <!-- <h1><a href="index.html">Hackers <span>on the</span> Hill</a></h1> -->
        <!-- <a href="index.html" class="scrollto"><img src="assets/img/logo.png" alt="" title=""></a> -->
      </div>

      {% include navbar.html %}
      
      <a class="register mx-md-3" href="https://docs.google.com/forms/d/e/1FAIpQLSdxRcsA1QYJmclJ7H38uHAdPAELrf5h9fEw2fHkM3ZBqaSwsA/viewform?usp=sf_link">Register</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in" data-aos-delay="100">
      <div class="row justify-content-center align-items-center">
        <div class="col-6 col-md-3 col-xl-2"><img src="assets/img/logo.png" class="img-fluid" alt="" title="">
          <h6 class="mt-2">Thursday, January 11, 2024</h6>
        </div>
         <div class="col-10 col-md-6 col-xl-4 my-2">
          <p>Hackers on the Hill is a semi-regular gathering for irregulars from the security research community to engage with Congressional staffers, since 2017.</p>
          <p>Run by <a href="https://iamthecavalry.org">I Am The Cavalry</a>.</p>
          <!-- 
            <a href="#location" class="about-btn scrollto">Location</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdxRcsA1QYJmclJ7H38uHAdPAELrf5h9fEw2fHkM3ZBqaSwsA/viewform?usp=sf_link" class="about-btn">Register</a>
          -->
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    {% include about.html %}

    {% include schedule.html %}

    {% include location.html %}

    {% include faq.html %}

    {% comment %}
      {% include about.html %}
      {% include speakers.html %}
      {% include hotels.html %}
      {% include gallery.html %}
      {% include supporters.html %}
      {% include tickets.html %}
      {% include contact.html %}
      {% include subscribe.html %}
    {% endcomment %}

  </main><!-- End #main -->

  {% include footer.html %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>