<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SWT2G3G"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header id="header" class="d-flex align-items-center dark-bg">
    <div class="container-fluid container-xxl col-md-10 col-lg-9 col-xl-8 col-xxl-7 d-flex align-items-center justify-content-between">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSf6DP1Qno2MVIHvOY6vMGe2qTQS7k2aG3q_V2lz3WFLHgA3NA/viewform" target="_blank"><button type="button" class="button mx-3">Register</button></a>
      {% include navbar.html %}
    </div>
  </header><!-- End Header -->

  <section id="top">

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="dark-bg">
      <div class="hero-container">
        <div class="row justify-content-center align-items-center col-md-10 col-lg-9 col-xl-8 col-xxl-7">
          <div class="col-8 col-sm-6 col-md-5"><img src="/assets/img/hith-uk-2024.png" class="img-fluid" alt="" title="">
            <h6 class="mt-2 mb-0" style="color: #fff;">Thursday and Friday, June 12-13, 2024</h6>
            <h6 style="color: #fff;">Washington, DC</h6>
          </div>
          <div class="col-10 col-md-7 my-2">
            <h4 class="p-2" style="color:#fff;">Cyber Policy Shark Tank at Critical Effect 2025</h4>
            <p>In partnership with <a href="https://securityandtechnology.org/critical-effect/">Critical Effect 2025</a>, <a href="https://www.icsvillage.com/">ICS Village</a>, the <a href="https://securityandtechnology.org/">Institute for Security and Technology</a>, <a href="https://www.crowell.com/en">Crowell LLP</a>, the <a href="https://nationalsecurity.gmu.edu/">National Security Institute</a>, and the <a href="https://www.wilsoncenter.org/">Wilson Center</a>.</p>
          </div>
        </div>
      </div>
    </section><!-- End Hero Section -->

  </section><!-- End #top -->

  <section id="about">
    <div class="container position-relative" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
      <h4 class="p-2">What is Cyber Policy Shark Tank?</h4>
      <p>In the Cyber Policy Shark Tank, cyber policy innovators pitch solutions to Congressional staffers who have the tools, influence, and track record for putting ideas into action. From legislation and hearings to informal outreach, public statements, and letters, the potential policy actions are as diverse as the challenges they aim to address. With the opportunity to gain not only support but also strategic partnerships and guidance, participants can showcase their knowledge of Legislative levers of power, passion, and ingenuity while taking proactive, positive steps to address some of the most challenging global issues today.</p>
      <p>On January 9, 2025, Hackers on the Hill hosted the first ever instance of the Cyber Policy Shark Tank, with five brave innovators pitching five experienced sharks. These cyber policy ideas were bold and innovative, with the sharks providing helpful and candid feedback. The presentations sparked further collaboration between public policymakers and the cybersecurity researcher community.</p>
      <p>On June 12-13, 2024, at the Critical Effect 2025 conference in Washington, DC, we will showcase another set of innovators and original ideas. <a href="https://docs.google.com/forms/d/e/1FAIpQLSf6DP1Qno2MVIHvOY6vMGe2qTQS7k2aG3q_V2lz3WFLHgA3NA/viewform">Sign up by May 30</a> to see if your ideas make it into the Cyber Policy Shark Tank!</p>
      
      <h4 class="p-2">The rules are simple, the impacts can be meaningful</h4>
      <p>You have 3-4 minutes to touch on the problem, a specific step that can address it, what to expect if successful, and what you need from the Sharks to make it happen. Sharks have 7-8 minutes to ask questions, suggest tweaks, and offer to invest their time, energy, and political capital alongside you - the cyber policy innovator - to make it happen. </p>
      <p>The primary goals of the event are to help the cybersecurity researcher and practitioner community exercise their practical understanding of how to use public policy to achieve desired effects. The time constraints and Q&A from Sharks is meant to ensure participants can articulate the value of their ideas to public policy decision-makers quickly and clearly. The investments the Sharks are willing to make give participants the best chance to see their idea put into action. Drawing from a diverse pool of Sharks offers participants the ability to find at least one willing to invest - as long as they are focused on achievable goals using authorities, levers, and targets that Congressional staffers have at hand.</p>
      <p>In addition, the Sharks will award points for each pitch, with prizes given for the best idea and the one most likely to end in disaster (as judged by the Sharks). Ideas will be evaluated for bestness with the following scoring system - which is also a good guide for what the Sharks will look for in order to figure out who they want to work with.</p>
      <ul>
      <li>4 points for using the right levers, targets, and authorities of the Legislative branch (formal or informal)</li>
      <li>3 points for how likely the idea is to address the problem it sets out to</li>
      <li>3 points for its feasibility or likelihood to be implementable</li>
      <li>1 point for creativity - yes, this event goes to 11 😎</li>
      </ul>

      <h4 class="p-2">How to enter and what to expect</h4>
      <p>General submissions will open Monday, May 19 and close Friday, May 30, at 23:59 Eastern time. At that time, we will announce the opening and closing via social media and email. All are welcome to enter. Submitters will be required to provide their name (or handle/alias), contact information, title of the idea, a brief description, and a 1-page (no more than 600 words) decision brief covering the relevant information. More details on each of these sections will be provided in the form.</p>
      <p>We will notify selected cyber policy innovators on Friday, June 6. Further detail on the format of the pitch sessions, names of some of the Sharks, and timing of next steps will be sent at this time. Selected innovators can then practice their pitch, refine the 1-pager (if necessary, due noon on Wednesday, June 11), and research the sharks they may be pitching. </p>
      <p>Preliminary rounds will be held (virtually or in person, TBD) on Thursday, June 12. Each innovator will present their ideas to Sharks, in a preliminary round. This provides Sharks and organizers the opportunity to downselect the best candidates, and gives innovators the opportunity to get feedback on the ideas, whether they're selected for the final round or not.</p>
      <p>Three finalists will be notified the evening of Thursday, June 12, after the preliminary rounds have been completed. Innovators can incorporate feedback and polish the pitch (any updates to the 1-pager are due by TBD the following day), so it is stage-ready.</p>
      <p>The final round of the three top pitches from preliminaries will be conducted live as the last session of Critical Effect, June 13, 2025. The format will be similar to the preliminary round, with different Sharks and a little additional time provided for the pitch and Sharks' response, if possible. The session will conclude with an announcement of results and presentation of fabulous prizes to the winner.</p>
      <p>While you're free to submit a pitch on any topic you'd like, since Critical Effect focuses on cybersecurity impacts to life, safety, and national security, ideas centered on those themes are most likely to move forward.</p>
      
      <h4 class="p-2">Who are the Sharks</h4>
      <p>Like with the TV show, your goal is to get one (or more) Sharks to invest in your idea. Will you try to persuade one of them a lot or all of them a little? Will you propose something ambitious and inspiring or bite-sized for a quick win? Those decisions lie with you - and we recommend you do some of your own digging to figure out how you want to present to them. The identities of the Preliminary and Final Round Sharks will be announced closer to the event.</p>
      <p>The Sharks are a mix of current and former Congressional staffers. They are all people who have the ability to help you get your idea into action, and they are all people who have a track record of doing so. They are not just there to judge you - they are there to help your ideas succeed.</p>

  </div>
      </div>
    </div>
  </section>



    {% comment %}
    
      {% include uk_faq.html %}

      {% include uk_reigster.html %}

      {% include about.html %}
      {% include speakers.html %}
      {% include hotels.html %}
      {% include gallery.html %}
      {% include supporters.html %}
      {% include tickets.html %}
      {% include contact.html %}
      {% include subscribe.html %}
    {% endcomment %}

  {% include footer.html %}

</body>

</html>