<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SWT2G3G" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- ======= Header ======= -->
  <header id="header" class="align-items-center dark-bg">
    <div class="container-fluid container-xxl col-md-10 col-lg-9 col-xl-8 col-xxl-7 d-flex align-items-center justify-content-between my-3">
      <button type="button" class="button mx-3" data-bs-toggle="modal" data-bs-target="#register-modal" id="registration-modal">Register</button>
      {% include navbar.html %}
    </div>
    <div class="container-xxl col-md-10 col-lg-9 col-xl-8 col-xxl-7">
      <p class="px-2 mx-0 text-center align-content-center" style="background-color: var(--soft-gold); min-height: 40px;">Sign up to learn more about the DC event January 8, 2025 and other global events.</p>
    </div>
  </header><!-- End Header -->

  <section id="top">

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="dark-bg">
      <div class="hero-container" data-aos="fade-in" data-aos-delay="100">
        <div class="row justify-content-center align-items-center col-md-10 col-lg-9 col-xl-8 col-xxl-7">
          <div class="col-8 col-sm-6 col-md-5"><img src="/assets/img/hoth-logo-2024.svg" class="img-fluid" alt="" title="">
            <h6 class="mt-2" style="color: #fff;">Thursday, January 11, 2024</h6>
          </div>
          <div class="col-10 col-md-7 my-2">
            <h4 class="p-2" style="color:#fff;">Hackers on the Hill is a semi-regular gathering of irregulars from the
              cybersecurity research community engaging with Congressional staffers.</h4>
            <p>Run by <a href="https://iamthecavalry.org" target="_blank" id="cavalry_link">I Am The Cavalry</a>, since
              2017.</p>
          </div>
        </div>
      </div>
    </section><!-- End Hero Section -->

    {% include about.html %}

  </section><!-- End #top -->

  <!-- ======= Logistics = Location + Schedule ======= -->
  <section id="logistics">
    <div class="container-fluid col-md-10 col-lg-9 col-xl-8 col-xxl-7" data-aos="fade-up">
      <div class="section-header">
        <h2>Logistics</h2>
      </div>
      {% include location.html %}
      <div class="m-5"></div>
      {% include schedule.html %}
    </div>
  </section><!-- End Logistics Section -->

  {% include faq.html %}

  {% include reg_closed.html %}

  {% comment %}
  {% include about.html %}
  {% include speakers.html %}
  {% include hotels.html %}
  {% include gallery.html %}
  {% include supporters.html %}
  {% include tickets.html %}
  {% include contact.html %}
  {% include subscribe.html %}
  {% endcomment %}

  {% include footer.html %}

</body>

</html>