<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <a class="skip-link" href="#top">Skip to main content</a>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SWT2G3G" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% include header.html %}

  <main id="top" tabindex="-1" data-aos="fade-down" data-aos-duration="800">

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="section-padding-lg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-9">
            <div class="hero-container" data-aos="fade-in" data-aos-delay="100">
              <div class="row justify-content-center align-items-center">
                <div class="col-10 col-sm-6 col-md-5 text-center mb-4 mb-md-0">
                  <img src="/assets/img/hoth-denver.svg" class="img-fluid mb-4" alt="Hackers on the Hill Denver logo">
                  <h6 class="mt-2 mb-0">Date TBD</h6>
                  <h6>Denver, Colorado</h6>
                </div>
                <div class="col-12 col-md-7">
                  <h1 class="mb-3">Hackers on the Hill Denver</h1>
                  <p>Hackers on the Hill brings cybersecurity researchers and policymakers together for candid, technical policy conversations.</p>
                  <p class="mb-4">Run by <a href="https://iamthecavalry.org" target="_blank" rel="noopener" id="cavalry_link">I Am The Cavalry</a>, since 2017.</p>
                  <a class="button priority" href="https://docs.google.com/forms/d/e/1FAIpQLScIJV3gkbFDIo4vydaepGDzo1an9LwtXcA-dkGu2Lq-YSv_Lw/viewform" target="_blank" rel="noopener">Register Interest</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Section -->

    <!-- ======= Logistics = Location + Schedule ======= -->
    <section id="logistics" class="section-padding-sm">
      <div class="container-fluid col-md-10 col-lg-9 col-xl-8 col-xxl-7" data-aos="fade-up">
        <div class="section-header">
          <h2>Logistics</h2>
        </div>
        {% include denver_location.html %}
        <div class="m-5"></div>
        {% include denver_schedule.html %}
      </div>
    </section><!-- End Logistics Section -->

    {% include denver_faq.html %}

  </main>

  {% include footer.html %}
  {% include newsletter_modal.html %}
  {% include scripts.html %}
</body>

</html>
