<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SWT2G3G"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header id="header" class="d-flex align-items-center dark-bg">
    <div class="container-fluid container-xxl col-md-10 col-lg-9 col-xl-8 col-xxl-7 d-flex align-items-center justify-content-between">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSevVJd4BqEUTXJrnErJaUyHxVVLR4eymwaK41lPn8bfcQhv2w/viewform" target="_blank"><button type="button" class="button mx-3">Register</button></a>
      {% include navbar.html %}
    </div>
  </header><!-- End Header -->

  <section id="top">

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="dark-bg">
      <div class="hero-container" data-aos="fade-in" data-aos-delay="100">
        <div class="row justify-content-center align-items-center col-md-10 col-lg-9 col-xl-8 col-xxl-7">
          <div class="col-8 col-sm-6 col-md-5"><img src="/assets/img/hith-uk-2024.png" class="img-fluid" alt="" title="">
            <h6 class="mt-2 mb-0" style="color: #fff;">Friday, December 13, 2024</h6>
            <h6 style="color: #fff;">London, UK</h6>
          </div>
          <div class="col-10 col-md-7 my-2">
            <h4 class="p-2" style="color:#fff;">Hackers in the House - where cyber meets policy</h4>
            <p>Brought to you by the <em>real</em> <a href="https://twitter.com/infosecjen">@infosecjen</a></p>
          </div>
        </div>
      </div>
    </section><!-- End Hero Section -->

    {% include about.html %}

  </section><!-- End #top -->

  <section id="about">
    <div class="container-fluid col-md-10 col-lg-9 col-xl-8 col-xxl-7">
      <p>“Hackers in the House” is a UK version of the well-established US-based “Hackers on the Hill”, which has been forging greater collaboration between US policymakers and cybersecurity professionals for the past seven years. Hackers in the House will give UK security professionals a similar opportunity to meet policymakers and help inform and influence potential UK cyber policy development.</p>
      <p>Attendees will participate in an afternoon of briefings with civil servants who are working directly on developing cyber policy across the UK government. These are non-partisan professionals working for the UK government departments that set or influence policy relating to cybersecurity. If you are a cyber security researcher and/or practitioner, get involved, share your experience, and have your say!</p>
      <p>Hackers in the House has worked collaboratively with the Department for Science, Innovation and Technology (DSIT), and various other UK government departments to organise briefings for our security community participants. They are keen to meet with experienced security professionals to better understand and navigate the complexities and realities of real world cybersecurity challenges. Some of the cyber topics the UK government is currently reviewing include: the forthcoming <a href="https://www.gov.uk/government/collections/cyber-security-and-resilience-bill">Cyber Security and Resilience Bill</a>; secure-by-design and default; the proliferation and abuse of commercial cyber tools; AI and cybersecurity; and emerging threats.</p>
      <p>This event is aimed at security professionals with real-world operational experience of tackling cybersecurity threats and challenges, and an interest in shaping potential cyber policy outcomes. The government is interested in hearing from a wide range of stakeholders, including those who do not traditionally engage with government. You do not need any policy experience as we will kick off the event with interactive sessions to help you get the lay of the land before you go into your government briefing(s).</p>
      <p>The whole event will last 4-5 hours, and afterwards, participants are invited to join us for the unofficial debriefing at a self-funded happy hour. Whether you continue to engage with policymakers and shape policy outcomes after that is up to you!</p>
      <p>Hackers in the House is free, and your information will only be used to assign you to a relevant briefing, to communicate with you about the event, and for access to government buildings. Participants must be experienced security professionals with an interest in working with the government to shape positive cyber policy outcomes.</p>
    </div>
  </section>



    {% comment %}
    
      {% include uk_faq.html %}

      {% include uk_reigster.html %}

      {% include about.html %}
      {% include speakers.html %}
      {% include hotels.html %}
      {% include gallery.html %}
      {% include supporters.html %}
      {% include tickets.html %}
      {% include contact.html %}
      {% include subscribe.html %}
    {% endcomment %}

  {% include footer.html %}

</body>

</html>